*{
  margin: 0;
  padding: 0;
}
.grid-container{
  display: grid;
  grid-template-columns: auto auto 30%; /*propiedad repeat (cuantas veces, que valor)
  grid-template-rows: 10vh 80vh 10vh;
  column-gap: 10px;
  row-gap: 10px;
  /* grid-template-areas: 'header header header'
                        'main-left main-center main-right'
                        'footer footer footer'; */
}
.box{
  background-color: aqua;
  text-align: center;
  border: 2px solid black;
}
.box1{
  /* grid-column:1/4; */
  /* grid-area:header; */
}
.box2{
  /* grid-column:1/2; */
  /* grid-area:main-left; */
}
.box3{
  /* grid-column:2/3; */
  /* grid-area:main-center; */
}
.box4{
  /* grid-column:3/4; */
  /* grid-area:main-right; */
}
.box5{
  /* grid-column:1/4; */
  /* grid-area:footer; */
}
